@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?h9acwf');
  src:  url('fonts/icomoon.eot?h9acwf#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?h9acwf') format('truetype'),
    url('fonts/icomoon.woff?h9acwf') format('woff'),
    url('fonts/icomoon.svg?h9acwf#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-menu:before {
  content: "\e978";
}
.icon-menu-button:before {
  content: "\e977";
}
.icon-placeholder:before {
  content: "\e975";
}
.icon-play-button:before {
  content: "\e96f";
}
.icon-controls:before {
  content: "\e966";
}
.icon-iphone:before {
  content: "\e967";
}
.icon-radio:before {
  content: "\e968";
}
.icon-coupon:before {
  content: "\e973";
}
.icon-Filter2:before {
  content: "\e970";
}
.icon-Mobile2:before {
  content: "\e971";
}
.icon-Radio2:before {
  content: "\e972";
}
.icon-mail:before {
  content: "\e964";
}
.icon-telephone:before {
  content: "\e965";
}
.icon-back:before {
  content: "\e962";
}
.icon-next:before {
  content: "\e96e";
}
.icon-classic-phone:before {
  content: "\e976";
}
.icon-heart-outline:before {
  content: "\e919";
}
.icon-photo-camera:before {
  content: "\e929";
}
.icon-umbrella:before {
  content: "\e95c";
}
.icon-cross-out:before {
  content: "\e961";
}
.icon-shopping-bag:before {
  content: "\e953";
}
.icon-user:before {
  content: "\e95d";
}
.icon-user_jax:before {
  content: "\e974";
}
.icon-profile:before {
  content: "\e96d";
}
.icon-cancel:before {
  content: "\e960";
}
.icon-shopping-bag2:before {
  content: "\e95f";
}
.icon-magnifying-glass:before {
  content: "\e95e";
}
.icon-48 .path1:before {
  content: "\e900";
  color: rgb(216, 239, 244);
}
.icon-48 .path2:before {
  content: "\e901";
  margin-left: -1em;
  color: rgb(222, 191, 134);
}
.icon-48 .path3:before {
  content: "\e902";
  margin-left: -1em;
  color: rgb(246, 219, 193);
}
.icon-48 .path4:before {
  content: "\e903";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-48 .path5:before {
  content: "\e904";
  margin-left: -1em;
  color: rgb(246, 219, 193);
}
.icon-48 .path6:before {
  content: "\e905";
  margin-left: -1em;
  color: rgb(98, 52, 91);
  opacity: 0.1;
}
.icon-48 .path7:before {
  content: "\e906";
  margin-left: -1em;
  color: rgb(98, 52, 91);
  opacity: 0.1;
}
.icon-48 .path8:before {
  content: "\e907";
  margin-left: -1em;
  color: rgb(176, 154, 172);
}
.icon-48 .path9:before {
  content: "\e908";
  margin-left: -1em;
  color: rgb(176, 154, 172);
}
.icon-48 .path10:before {
  content: "\e909";
  margin-left: -1em;
  color: rgb(176, 154, 172);
}
.icon-48 .path11:before {
  content: "\e90a";
  margin-left: -1em;
  color: rgb(176, 154, 172);
}
.icon-48 .path12:before {
  content: "\e90b";
  margin-left: -1em;
  color: rgb(176, 154, 172);
}
.icon-48 .path13:before {
  content: "\e90c";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-48 .path14:before {
  content: "\e90d";
  margin-left: -1em;
  color: rgb(176, 154, 172);
}
.icon-48 .path15:before {
  content: "\e90e";
  margin-left: -1em;
  color: rgb(98, 52, 91);
  opacity: 0.1;
}
.icon-48 .path16:before {
  content: "\e90f";
  margin-left: -1em;
  color: rgb(235, 234, 232);
}
.icon-48 .path17:before {
  content: "\e910";
  margin-left: -1em;
  color: rgb(235, 234, 232);
}
.icon-48 .path18:before {
  content: "\e911";
  margin-left: -1em;
  color: rgb(91, 69, 108);
  opacity: 0.2;
}
.icon-48 .path19:before {
  content: "\e912";
  margin-left: -1em;
  color: rgb(132, 211, 235);
}
.icon-48 .path20:before {
  content: "\e913";
  margin-left: -1em;
  color: rgb(98, 52, 91);
}
.icon-48 .path21:before {
  content: "\e914";
  margin-left: -1em;
  color: rgb(98, 52, 91);
}
.icon-48 .path22:before {
  content: "\e915";
  margin-left: -1em;
  color: rgb(98, 52, 91);
}
.icon-48 .path23:before {
  content: "\e916";
  margin-left: -1em;
  color: rgb(98, 52, 91);
}
.icon-arrow_left:before {
  content: "\e917";
}
.icon-basics-22:before {
  content: "\e918";
}
.icon-camera:before {
  content: "\e96a";
}
.icon-cart:before {
  content: "\e91a";
}
.icon-check .path1:before {
  content: "\e91b";
  color: rgb(0, 0, 0);
  opacity: 0.39;
}
.icon-check .path2:before {
  content: "\e91c";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-check .path3:before {
  content: "\e91d";
  margin-left: -1em;
  color: rgb(168, 168, 168);
}
.icon-checkmark:before {
  content: "\e91e";
}
.icon-check-mark:before {
  content: "\e91f";
}
.icon-close:before {
  content: "\e920";
}
.icon-comment-outline-stroke:before {
  content: "\e921";
}
.icon-comment-outline-stroke_2:before {
  content: "\e922";
}
.icon-down:before {
  content: "\e923";
}
.icon-Facebook:before {
  content: "\e924";
}
.icon-Filter:before {
  content: "\e925";
}
.icon-finance-11:before {
  content: "\e926";
}
.icon-finance-11_2:before {
  content: "\e927";
}
.icon-Google:before {
  content: "\e928";
}
.icon-heart:before {
  content: "\e96c";
}
.icon-Intsagram:before {
  content: "\e92a";
}
.icon-left:before {
  content: "\e92b";
}
.icon-Mobile:before {
  content: "\e92c";
}
.icon-multimedia-11:before {
  content: "\e92d";
}
.icon-multimedia-39:before {
  content: "\e92e";
}
.icon-office-71:before {
  content: "\e92f";
}
.icon-office-75:before {
  content: "\e930";
}
.icon-office-78:before {
  content: "\e931";
}
.icon-office-87:before {
  content: "\e932";
}
.icon-office-87_2:before {
  content: "\e933";
}
.icon-present .path1:before {
  content: "\e934";
  color: rgb(168, 168, 168);
}
.icon-present .path2:before {
  content: "\e935";
  margin-left: -1em;
  color: rgb(168, 168, 168);
}
.icon-present .path3:before {
  content: "\e936";
  margin-left: -1em;
  color: rgb(168, 168, 168);
}
.icon-present .path4:before {
  content: "\e937";
  margin-left: -1em;
  color: rgb(168, 168, 168);
}
.icon-present .path5:before {
  content: "\e938";
  margin-left: -1em;
  color: rgb(168, 168, 168);
}
.icon-present .path6:before {
  content: "\e939";
  margin-left: -1em;
  color: rgb(168, 168, 168);
}
.icon-present .path7:before {
  content: "\e93a";
  margin-left: -1em;
  color: rgb(0, 0, 0);
  opacity: 0.39;
}
.icon-present .path8:before {
  content: "\e93b";
  margin-left: -1em;
  color: rgb(168, 168, 168);
}
.icon-present .path9:before {
  content: "\e93c";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-present .path10:before {
  content: "\e93d";
  margin-left: -1em;
  color: rgb(168, 168, 168);
}
.icon-present .path11:before {
  content: "\e93e";
  margin-left: -1em;
  color: none;
}
.icon-present .path12:before {
  content: "\e93f";
  margin-left: -1em;
  color: rgb(168, 168, 168);
}
.icon-present .path13:before {
  content: "\e940";
  margin-left: -1em;
  color: rgb(168, 168, 168);
}
.icon-present .path14:before {
  content: "\e941";
  margin-left: -1em;
  color: rgb(168, 168, 168);
}
.icon-present .path15:before {
  content: "\e942";
  margin-left: -1em;
  color: none;
}
.icon-present .path16:before {
  content: "\e943";
  margin-left: -1em;
  color: rgb(168, 168, 168);
}
.icon-present .path17:before {
  content: "\e944";
  margin-left: -1em;
  color: none;
}
.icon-present .path18:before {
  content: "\e945";
  margin-left: -1em;
  color: rgb(168, 168, 168);
}
.icon-present .path19:before {
  content: "\e946";
  margin-left: -1em;
  color: rgb(168, 168, 168);
}
.icon-Radio:before {
  content: "\e947";
}
.icon-resolutions-24 .path1:before {
  content: "\e948";
  color: rgb(240, 144, 139);
}
.icon-resolutions-24 .path2:before {
  content: "\e949";
  margin-left: -1em;
  color: rgb(255, 215, 102);
}
.icon-resolutions-24 .path3:before {
  content: "\e94a";
  margin-left: -1em;
  color: none;
}
.icon-resolutions-24 .path4:before {
  content: "\e94b";
  margin-left: -1em;
  color: none;
}
.icon-resolutions-24 .path5:before {
  content: "\e94c";
  margin-left: -1em;
  color: none;
}
.icon-resolutions-24 .path6:before {
  content: "\e94d";
  margin-left: -1em;
  color: none;
}
.icon-resolutions-24 .path7:before {
  content: "\e94e";
  margin-left: -1em;
  color: none;
}
.icon-resolutions-24 .path8:before {
  content: "\e94f";
  margin-left: -1em;
  color: none;
}
.icon-resolutions-24 .path9:before {
  content: "\e950";
  margin-left: -1em;
  color: none;
}
.icon-resolutions-24 .path10:before {
  content: "\e951";
  margin-left: -1em;
  color: none;
}
.icon-right:before {
  content: "\e952";
}
.icon-shopping-bag3:before {
  content: "\e96b";
}
.icon-star:before {
  content: "\e954";
}
.icon-star_2:before {
  content: "\e955";
}
.icon-thefreeforty_location:before {
  content: "\e956";
}
.icon-thefreeforty_location_2:before {
  content: "\e957";
}
.icon-thefreeforty_message:before {
  content: "\e958";
}
.icon-thefreeforty_phone:before {
  content: "\e959";
}
.icon-Twitter:before {
  content: "\e95a";
}
.icon-twitter_online:before {
  content: "\e95b";
}
.icon-umbrella2:before {
  content: "\e963";
}
.icon-user2:before {
  content: "\e969";
}

